---
---

@import "{{ site.theme }}";

.wrapper {
	width: 80%;
	max-width: 1600px;
	background-color: #fefefe;
}

code {
	background-color: #eee;
	padding: 2px 4px 2px 4px;
}

code a {
	color: #069;
}

body {
	color: #111;
	font-family: sans-serif;
}

a {
	font-weight: 600;
}

pre code {
	background-color: inherit;
}

pre {
	background-color: #3b3d41;
	margin: initial;
}

h4 {
	font-size: 1.1em;
}

h3, h4, h5, h6 {
	color: #000;
}
