---
---

@import "{{ site.theme }}";

.wrapper {
	width: 85%;
	max-width: 1600px;
	background-color: #fff;
}

code {
	background-color: #eee;
	padding: 2px 4px 2px 4px;
}

code a {
	color: #069 !important;
}

a code {
	color: #069 !important;
}

body {
	color: #000;
	font-family: sans-serif;
}

a {
	font-weight: 600;
}

pre code {
	background-color: inherit;
	padding: 0;
}

pre {
	background-color: #3b3d41;
	margin: initial;
}

section h1 {
	border-bottom: 1px solid #eaecef;
	padding-bottom: .5em;
}

section h2 {
	border-bottom: 1px solid #eaecef;
	padding-bottom: .3em;
}

section h4 {
	font-size: 1.1em;
}

section h3, h4, h5, h6 {
	color: #000;
	margin-left: -5px;
	padding-top: 20px;
}

hr {
	margin-top: 20px;
}

section h3 strong, h4 strong, h5 strong, h6 strong {
	font-size: 1.1em;
	color: #000;
}

section>p+ul {
	margin-top: -15px;
}

.highlight {
	border-radius: 1em;
}

li pre {
	margin-top: 5px;
	margin-left: 0;
	padding-left: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
}

ul ul, li p {
	margin-bottom: 0;
}

li {
	margin-top: 5px;
}

section>ul>li {
	margin-top: 8px;
}

footer p:nth-child(2) {
	display: none;
}

footer p:nth-child(1) {
	text-align: center;
}

section>ul ul div.highlight {
	padding-bottom: 10px;
}

h1>code, h2>code, h3>code, h4>code, h5>code, h6>code {
	font-size: 0.9em;
	padding: 0.25em 0.5em;
	vertical-align: 1px;
}

div.highlighter-rouge+p {
	margin-bottom: 1.25em;
}

p+div.highlighter-rouge {
	margin-top: -10px;
}

div.highlighter-rouge {
	margin-bottom: 10px;
}

blockquote {
	background: rgba(190, 120, 0, 0.06);
	padding: 10px 20px 1px 40px;
}

blockquote>p {
	margin-bottom: 10px;
}

header li {
	margin-top: 0;
}

.tabular {
	display: block;
	overflow: auto;
}

.tabular thead {
	border-top: 1px solid #c6cbd1;
}

.tabular thead th {
	border: 1px solid #dfe2e5;
	padding: 6px 13px;
	font-weight: 600;
}

.tabular tbody tr {
	border-top: 1px solid #c6cbd1;
}

.tabular tr:nth-child(2n) {
	background-color: #f6f8fa;
}

.tabular tbody td {
	border: 1px solid #dfe2e5;
	padding: 6px 13px;
}

section {
	font-size: 16px;
	padding: 15px 30px;
}

body {
	font: 16px/1.4 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
